<%= raw(@post.rendered_body) %>
<hr>
<p>
  You're receiving this because you're important to me. If you'd rather not get these any more, just let me know and I'll take you off the list.
<p>
<p><a href="http://clog.bugsplat.info">http://clog.bugsplat.info</a></p>
