<%= raw(@post.rendered_body) %>
<hr>
<p>
  You're receiving this because you're important to me. If you'd rather not get these any more, just <a href="http://mancer.bugsplat.info/unsubscribe/<%= @recipient.unique_id %>">click here</a> to unsubscribe.
<p>
<p><a href="http://mancer.bugsplat.info">http://mancer.bugsplat.info</a></p>

